#allcontain{
    width:700px;
    margin:0 auto;
}
header{
    height:200px;
    background-color: pink;
}
#contents{
    display:flex;
}
main{
    flex:1;
    height:500px;
    background-color:aquamarine;
}
aside{
    width:200px;
    background-color: yellow;
}
footer{
    height:100px;
    background-color: aqua;
}